        .hero-section {
            background-size: cover;
            background-position: center;
            padding: 100px 0;
        }

        ul {
            list-style: none;
        }

        li {
            border: 1px solid black;
        }

        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
        }


        .inline {
            display: inline;
        }

        .header {
            height: 100px;
        }