<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Film</title>
        <th:block th:insert="~{fragments :: styles}"></th:block>
</head>
<body>
    <header>
        <th:block th:insert="~{fragments :: header}"></th:block>
    </header>
    <main>
        <section class="hero-section text-center p-3 mt-5">
            <div class="container w-50">
                <h1 class="mb-5">Best Movies</h1>
                <ul>
                    <li class="p-3" th:each="movie : ${movies}">
                        <h3 class="inline" th:text="${movie.titolo}"></h3>
                        <a th:href="@{/movies/{id}/{titolo}(id=${movie.id}, titolo=${movie.titolo})}" class="btn btn-primary btn-lg mx-2">Vedi Dettagli Film</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>